.article {
  position: relative;

  &__image {
    border-radius: 0.8rem;
    overflow: hidden;
    height: 24rem;
    margin-bottom: 3.8rem;
    width: 100%;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      z-index: -1;
    }

    @media (max-width: $Tablet) {
      height: 21.2rem;
    }
  }

  &__add-to-cart-button {
    font-size: 1.4rem;
    font-weight: $Semi-Bold;
    font-family: inherit;
    position: absolute;
    top: 24rem;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: $White;
    height: 4.4rem;
    width: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    border: 0.1rem solid $Rose-400;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 0.3s ease;

    @media (max-width: $Tablet) {
      top: 21.2rem;
    }

    &:hover {
      color: $Red;
      border: 0.1rem solid $Red;
    }
  }

  &__section {
    font-size: 1.4rem;
    font-weight: $Regular;
    color: $Rose-500;
  }

  &__name {
    font-weight: $Semi-Bold;
    font-size: 1.6rem;
  }

  &__price {
    font-weight: $Semi-Bold;
    color: $Red;
  }

  &__quantity-buttons {
    font-size: 1.4rem;
    font-weight: $Semi-Bold;
    position: absolute;
    top: 24rem;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: $Red;
    color: $White;
    height: 4.4rem;
    width: 16rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2rem;
    gap: 0.8rem;
    border-radius: 5rem;

    @media (max-width: $Tablet) {
      top: 21.2rem;
    }

    button {
      background-color: $Red;
      color: $White;
      font-family: inherit;
      width: 2rem;
      height: 2rem;
      border: 0.15rem solid $White;
      border-radius: 2rem;

      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.3s ease;

      svg {
        fill: $White;
      }

      &:hover {
        background-color: $White;

        svg {
          fill: $Red;
        }
      }
    }
  }

  &.active {
    .article__image {
      box-shadow: inset 0 0 0 0.25rem $Red;
    }
  }
}
