// $Tablet: 768px;
$Tablet: 890px;
$Mobile: 442px;

*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media (max-width: 1010px) {
    font-size: 55%;
  }

  @media (max-width: $Tablet) {
    font-size: 62.5%;
  }

  @media (max-width: 498px) {
    font-size: 55%;
  }

  @media (max-width: $Mobile) {
    font-size: 62.5%;
  }

  @media (max-width: 300px) {
    font-size: 55%;
  }

  @media (max-width: 254px) {
    font-size: 45%;
  }
}

body {
  font-family: $font, serif;
  font-size: 1.6rem;
  font-weight: $Regular;
  color: $Rose-900;
  background-color: $Rose-50;
  display: flex;
  justify-content: center;
  padding: 8.8rem 0;

  @media (max-width: $Tablet) {
    padding: 4rem 0;
  }

  @media (max-width: $Mobile) {
    padding: 2.4rem;
  }
}

.container {
  display: grid;
  grid-template-columns: min-content 38.4rem;
  gap: 3.2rem;

  @media (max-width: $Tablet) {
    grid-template-columns: auto;
    column-gap: 0;
  }
}
