*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font, serif;
  font-size: 1.6rem;
  font-weight: $Regular;
  color: $Rose-900;
  background-color: $Rose-50;

  display: grid;
  grid-template-columns: 1fr 80rem 38.4rem 1fr;
  gap: 3.2rem;
  padding: 8.8rem 0;
}
